<div class="p-8">
    <h1 class="text-center text-line-blue mb-3">Bienvenue sur l'administration</h1>
    <p class="text-center italic text-gray-600 mb-12">Gérez toutes les sections de votre site depuis cette interface.</p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <a href="/admin/club/show/1" class="flex flex-col items-center bg-[#F3F3F3] p-6 rounded-lg shadow hover:bg-blue-100 transition">
            <i class="fa-solid fa-people-roof text-line-blue text-3xl mb-4"></i>
            <span class="text-lg title-font text-line-blue">Le club</span>
            <p class="text-sm italic text-gray-600 mt-2 text-center">Gérez les informations générales sur le club.</p>
        </a>
        <a href="/admin/sponsors" class="flex flex-col items-center bg-[#F3F3F3] p-6 rounded-lg shadow hover:bg-blue-100 transition">
            <i class="fa-solid fa-handshake text-line-blue text-3xl mb-4"></i>
            <span class="text-lg title-font text-line-blue">Les partenaires</span>
            <p class="text-sm italic text-gray-600 mt-2 text-center">Ajoutez et modifiez vos partenaires.</p>
        </a>
        <a href="/admin/reseaux" class="flex flex-col items-center bg-[#F3F3F3] p-6 rounded-lg shadow hover:bg-blue-100 transition">
            <i class="fa-solid fa-share-nodes text-line-blue text-3xl mb-4"></i>
            <span class="text-lg title-font text-line-blue">Les réseaux sociaux</span>
            <p class="text-sm italic text-gray-600 mt-2 text-center">Mettez à jour vos liens vers les réseaux sociaux.</p>
        </a>
        <a href="/admin/medias" class="flex flex-col items-center bg-[#F3F3F3] p-6 rounded-lg shadow hover:bg-blue-100 transition">
            <i class="fa-solid fa-photo-video text-line-blue text-3xl mb-4"></i>
            <span class="text-lg title-font text-line-blue">Les médias</span>
            <p class="text-sm italic text-gray-600 mt-2 text-center">Gérez les photos et vidéos publiées sur le site.</p>
        </a>
        <a href="/admin/actualities" class="flex flex-col items-center bg-[#F3F3F3] p-6 rounded-lg shadow hover:bg-blue-100 transition">
            <i class="fa-solid fa-newspaper text-line-blue text-3xl mb-4"></i>
            <span class="text-lg title-font text-line-blue">Les actualités</span>
            <p class="text-sm italic text-gray-600 mt-2 text-center">Ajoutez et modifiez les actualités sur la saison en cours.</p>
        </a>
        <a href="/admin/archives" class="flex flex-col items-center bg-[#F3F3F3] p-6 rounded-lg shadow hover:bg-blue-100 transition">
            <i class="fa-solid fa-archive text-line-blue text-3xl mb-4"></i>
            <span class="text-lg title-font text-line-blue">Les archives</span>
            <p class="text-sm italic text-gray-600 mt-2 text-center">Consultez et gérez les actualités des saisons passées.</p>
        </a>
        <a href="/admin/documents" class="flex flex-col items-center bg-[#F3F3F3] p-6 rounded-lg shadow hover:bg-blue-100 transition">
            <i class="fa-solid fa-handshake text-line-blue text-3xl mb-4"></i>
            <span class="text-lg title-font text-line-blue">Les documents</span>
            <p class="text-sm italic text-gray-600 mt-2 text-center">Ajoutez et gérez les documents d'inscription.</p>
        </a>
    </div>
</div>
