<div class="flex flex-col items-center mx-auto px-4 md:px-8 lg:px-12">
  <h2 class="text-line-blue text-lg sm:text-2xl md:text-3xl lg:text-4xl">Comité directeur</h2>
  <% if (goelandClub && goelandClub.committee_image) { %>
    <img src="<%= goelandClub.committee_image %>" alt="Comité directeur" class="transform scale-110 my-4 md:my-0 sm:scale-110 md:scale-105 lg:scale-95 max-w-full">
  <% } %>
</div>
