<div class="flex flex-col items-center space-y-4 mb-6 mx-4 md:mx-80 text-center">
    <div class="space-y-4">
        <h1 class="text-line-blue">Depuis 2013</h1>
        <p class="text-lg text-center md:text-center">
            La quasi totalité des équipes actuelles (Equipe Première en Nationale ) est composée en majorité de jeunes issus du club.
            Cependant les Goélands n'oublient pas pour autant leurs anciens qui évoluent dans une section loisir fort
            dynamique.
            <br>
            Comptant entre 150 et 200 licenciés, les Goélands de Biarritz est le premier club des Pyrénées Atlantiques et se classe parmi les dix premiers d'Aquitaine.
            <br>
            Le club propose différentes sections, telles que la section loisirs, compétitions, finances...
            <br>
            Chaque été, il organise des tournois en loisirs et en compétition.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">2012</h1>
        <p class="text-lg text-center md:text-center">
            En février 2012 elle remportait l'open de slovénie sortant la numéro 10 européene puis en finale la
            championne de france
            cadette 2010.
            En mai 2012 à AGEN, Marina BERHO remporte le titre de championne de France en simple et en double dans la
            catégorie
            junior.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">2009</h1>
        <p class="text-lg text-center md:text-center">
            Le club des Goélands a toujours axé sa politique vers la formation (bénévole et désormais professionnelle)
            des jeunes.
            Outre les 2 joueurs masculins qui ont marqué le palmarès des Goélands de Biarritz (Pierre Picard et
            Christophe Ayherra)
            au plus haut niveau national, le club des Goélands de Biarritz a également pu compter dans ses rangs une
            jeune joueuse
            Marina BERHO qui a permis au club biarrot de se faire connaître au plus haut niveau français (vice
            championne de France
            2009 en cadettes) mais aussi européen puisque cette féminine fut repérée (à travers des cycles scolaires) et
            formée au
            club des Goélands. Suite à ses excellents résultats et son potentiel indéniable, elle fut la première
            féminine prise sous
            contrat (Cornilleau/Dauphin) par l'ancien vice-champion olympique : Jean Philippe GATIEN.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1998 - 1999</h1>
        <p class="text-lg text-center md:text-center">
            En 1998, le second salarié, Philippe JUNIVER, prend ses fonctions d'animateur. Après son départ, il est
            remplacé en novembre 1999
            par Lourdes PEREZ, une jeune fille issue du quartier St Charles.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1996 - 1997</h1>
        <p class="text-lg text-center md:text-center">
            Jean PICARD redevient président. Lors de cette saison 96/97, arrive le premier salarié du club. Il s'agit de
            Stéphane REGOURDAL. Ce jeune issu du club
            est le nouvel éducateur sportif.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1994</h1>
        <p class="text-lg text-center md:text-center">
            C'est la rupture avec les Croisés.
            Les Goélands redeviennent indépendants. J. Yves GUILLERME préside pendant 2 ans.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1980 - 1981</h1>
        <p class="text-lg text-center md:text-center">
            Réception de la salle spécifique qui prendra le nom de Charles DAGORETTE : 9 aires de jeux réglementaires,
            13 tables
            d'entraînement possibles.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1979 - 1980</h1>
        <p class="text-lg text-center md:text-center">
            Fusion entre les Goélands et les Croisés de St André de Bayonne qui formera l'entente. Cette fusion
            permettra la montée
            de Nationale 4 en Nationale 3.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1975</h1>
        <p class="text-lg text-center md:text-center">
            La section T.T évolue désormais sur 8 tables au gymnase LA ROCHEFOUCAULD. L'équipe est en régionale 1 avec
            des jeunes
            comme Pierre PICARD, J.Jacques CIRAUQUI, J.Pierre DARRIOT, Serge SARAUDE, Antoine DARRIEU...
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1970</h1>
        <p class="text-lg text-center md:text-center">
            Suite au départ de Monsieur Pierre BOURDON pour des raisons professionnelles, Jean PICARD le remplace.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1967</h1>
        <p class="text-lg text-center md:text-center">
            La section tennis de table sera créée par Monsieur Pierre BOURDON (père de Didier, "l'Inconnu"). Elle est
            issue du foyer
            qui existait Villa Santiago à St Charles. Elle débute avec... 1 table.
            La section natation continue sa progression vers le niveau national.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1945</h1>
        <p class="text-lg text-center md:text-center">
            Une section de basket naîtra.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1935 - 1943</h1>
        <p class="text-lg text-center md:text-center">
            En 1935, l'abbé FOREL, vicaire, relança les activités théâtre, football, cinéma, athlétisme, colonie de
            vacances, aidé
            par quelques anciens. Les terrains ayant disparu, les "Écureuils" d'ANGLET cédèrent le leur. La seconde
            guerre mondiale
            va freiner ce nouvel essor, mais en 1943 sera créée une section natation à l'initiative de Monsieur Charles
            DAGORETTE.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1914</h1>
        <p class="text-lg text-center md:text-center">
            Avec des buts proches des autres patronages Biarrots, l'association connut pendant les hostilités une
            activité réduite et même un arrêt avec l'appel sous les drapeaux des jeunes classes.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1913</h1>
        <p class="text-lg text-center md:text-center">
            L'abbé COR décéda, remplacé par l'abbé GARAY, qui, surpris par l'essor déjà pris par le patronage, décida de
            créer une
            équipe de football. Un jour, sur la plage du MIRAMAR, un goéland fut capturé vivant par quelques jeunes de
            la paroisse :
            c'est lui qui donnera aux jeunes de Saint Charles son nom.
        </p>
    </div>

    <div class="border-l-2 border-line-red h-8"></div>

    <div class="space-y-4">
        <h1 class="text-line-blue">1910</h1>
        <p class="text-lg text-center md:text-center">
            Erigée en paroisse, la chapelle Saint Charles des Thermes Salins fut prise en main par Monsieur le curé COR.
            Ce
            dernier jeta très vite les bases d'un patronage pour filles et garçons. Les premières s'installèrent dans
            une salle du
            presbytère tandis que pour les seconds un terrain fut loué sur le plateau de LA ROCHEFOUCAULD près du BAB.
        </p>
    </div>
</div>